#map {
  height: 100vh;
  overflow: hidden !important;
}
.inhabitant {
  /* display: none !important; */
  position: absolute;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 5px;
  border: 1px solid #000;
  border-radius: 5px;
  cursor: move;
}  